<div class='row'>
  <div class='col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1'>
    <h1 class='text-center'>Edit Your Profile</h1>
    <p class='text-center'>Be a part of the SaaS-Template community and fill out your profile!</p>
    <div class='well'>
      <%= render 'form' %>
    </div>
  </div>
</div>