<div class = 'row'>
  <div class='col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center'>
    <% if params[:plan] == '2' %>
      <h1>Pro Account</h1>
      <p>Sign up for the Pro account for $10/month and get full access to the community plus our exclusive Pro features!</p>
    <% else %>
      <h1>Basic Account</h1>
      <p>Sign up for free and get basic access to our developer community!</p>
    <% end %>
  </div>
  <div class = 'col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-1'>
    <div class='well'>
      <h2>Sign up</h2>
      
        <% if params[:plan] == '2' %>
          <%= render 'pro_form' %>
        <% else %>
          <%= render 'basic_form' %>
        <% end %>
        
        <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>