<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have recieved a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>