@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* Site Wide Styles */
body {
    // Gradient from http://uigradients.com/ (Clouds)
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Forms Well and jumbotron */
.well,
.jumbotron {background: #E0E0E0; }

/* Site Wide Typography */


/* Contact Form Typography */
