.avatar-profile {
  border-radius: 50%;
  border: 2px solid #FFF;
  box-shadow: -5px 3px 6px 0px #ADADAD;
}

.job_title_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px #204d74 solid;
  border-radius: 4px;
  background-color: #337ab7;
  color: #FFF;
  text-align: center;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0px;
  }
}

.well.profile-description{
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-bottom: 5px;
}

.well.contact-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
